@media only screen and (min-height: 690px) and (max-height: 800px) {
body{
font-size: 80%;
}
}
@media only screen and (min-height: 560px) and (max-height: 689px) {
body{
font-size: 70%;
}
li:hover span.move {
padding-right: 16px;
}
span.move:after {
top: 10%;
right: -3.3%;
}
li {
 padding: 0.4% 0.5%;
}
#Sąlygos {
padding: 10px;
margin-top: 4%;
}
#Kontaktai {
margin-top: 4%;
}
}

@media only screen and (min-height: 501px) and (max-height: 559px) {
body{
font-size: 60%;
}
li:hover span.move {
padding-right: 14px;
}
span.move:after {
top: 8%;
right: -2.7%;
}
li {
padding: 0.4% 0.5%;
}
#Sąlygos {
padding: 10px;
margin-top: 4%;
}
#Kontaktai {
margin-top: 4%;
}
}
@media only screen and (min-height: 425px) and (max-height: 500px) {
body{
font-size: 50%;
}
li:hover span.move {
padding-right: 12px;
}
span.move:after {
top: 5%;
right: -1.35%;
}
li {
padding: 0.3% 0.5%;
}
#Sąlygos {
padding: 10px;
margin-top: 4%;
}
#Kontaktai {
margin-top: 4%;
}
}
@media only screen and (min-height: 371px) and (max-height: 424px) {
body{
font-size: 40%;
}
li:hover span.move {
padding-right: 10px;
}
span.move:after {
top: 5%;
right: -1.3%;
}
li {
padding: 0.3% 0.5%;
}
#Sąlygos {
padding: 10px;
margin-top: 4%;
}
#Kontaktai {
margin-top: 4%;
}
}
@media only screen and (min-height: 0px) and (max-height: 370px) {
body{
font-size: 40%;
}
li:hover span.move {
padding-right: 8px;
}
span.move:after {
top: 0.5%;
right: -0.3%;
}
#Sąlygos {
padding: 10px;
margin-top: 4%;
}
li {
padding: 0% 0.5%;
}
#Kontaktai {
margin-top: 4%;
}
}
@media screen and (max-width: 480px) {
body{
padding: 0;
}
span.move:after {
content: "";
visibility: hidden;
transition: 0s;
-o-transition: 0s;
-moz-transition: 0s;
-webkit-transition: 0s;
}
li:hover span.move {
padding-right: 0px;
}
li:hover span.move:after {
opacity: 0;
right: 0;
}
#particles-js canvas {
display: none;
}
.row {
overflow-y: overlay;
width: 100%;
margin-left: 0;
margin-right: -3px;
}
.center-column {
overflow-y: overlay;
}
.navbar {
left: 0;
right: 0;

width: 100%;
margin: 0;
}
#Sąlygos {
width: 60%;
margin-left: 20%;
margin-top: 15%;
margin-bottom: 8%;
height: auto;
}
#Kontaktai {
width: 60%;
margin-left: 20%;
margin-right: 20%;
margin-top: 15%;
margin-bottom: 8%;
}
#Paslaugos {
width: 99%;
margin-left: 0.5%;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
img.ram {
top: 0%;
left: -30%;
}
img.asus {
top: 25%;
left: -30%;
}
img.cooler {
top: 55%;
left: -30%;
}
img.intel {
top: 25%;
right: -30%;
}
img.amd {
top: 0;
right: -30%;
}
img.mobo {
top: 55%;
right: -30%;
}
#Pagrindinis {
position: relative;
margin-left: 20%;
margin-right: 20%;
margin-top: 2%;
}
li {
float: none;
width: 50%;
text-align: center;
height: auto;
box-sizing: border-box;
padding: 0.8% 0%;
}
.navbar {
display: flex;
flex-direction: row;
flex-wrap: wrap;
height: auto;
}
.borderedge:hover, .borderedge {
border-radius: 0px 10px 0px 0px;
border-right-style: none;
}
li.left {
border-right-style: none;
}
li.right {
border-left-style: none;
margin-left: 0;
}
li.right:hover {
border-radius: 0px 0px 0px 0px;
}
li.right {
border-radius: 0 0 0 0;
}
.resp1 {
 border-right: 1px solid black !important;
 border-bottom: 1px solid black !important;
}
.resp2 {
 border-left: 1px solid black !important;
 border-bottom: 1px solid black !important;
}
.resp3 {
 border-right: 1px solid black !important;
 border-top: 1px solid black !important;
}
.resp4 {
  border-left: 1px solid black !important;
  border-top: 1px solid black !important;
}
}
@media only screen and (min-width:481px) and (max-width: 768px) {
span.move:after {
top: 4%;
right: -0.3%;
}
#particles-js canvas {
display: none;
}
#Kontaktai {
width: 50%;
margin-left: 25%;
margin-right: 25%;
margin-top: 5%;
margin-bottom: 8%;

}
.row {
width: 100%;
}
.navbar {
width: 100%;
left: 0;
right: 0;
margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
span.move:after {
top: 5%;
right: -0.3%;
}
.row::-webkit-scrollbar {
  display: none;
}
#Kontaktai {
width: 60%;
margin-left: 20%;
margin-right: 20%;
margin-top: 10%;
margin-bottom: 8%;

}
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
span.move:after {
top: 7%;
right: -0.3%;
}
.row::-webkit-scrollbar {
  display: none;
}
#Kontaktai {
width: 60%;
margin-left: 20%;
margin-right: 20%;
margin-top: 8%;
margin-bottom: 8%;

}
}
@media only screen and (min-width: 1201px) {
.row::-webkit-scrollbar {
  display: none;
}
}